/*  Removes browser added marging and padding */
*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* 62.5%  equates to 10px because the browser setting is 16px */


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
